@import url(http://fonts.googleapis.com/css?family=Lato:100);
$bgDark : #04121E;
$bgLight: #13487C;
$foxRed : #f7931d;
$txtWhite : #ddd; 

h2{
	color: #252525;
}

ul{
	float: left;
}

ul li { float: left;list-style: none;}

// Buttons
.btnTrans{
	background-color: transparent;
	border: 1px solid #efefef;
	text-transform: uppercase;
	&:hover{
		background-color: #13487C;
	}
}

.navigation{
	background-color: $bgDark;
		.top-bar{
			background-color: transparent;
		}
}

.navigation{
	.top-bar{
		a{
			color: #fefefe;
		}
	}
}

.questions{
	h1{
		color: $txtWhite
	}
	background-color: $bgLight;
	color: $txtWhite;
}

section[role="footer"]{
	background-color: $bgDark;
}
