@import url(http://fonts.googleapis.com/css?family=Lato:100);
/* line 7, ../scss/global.scss */
h2 {
  color: #252525;
}

/* line 11, ../scss/global.scss */
ul {
  float: left;
}

/* line 15, ../scss/global.scss */
ul li {
  float: left;
  list-style: none;
}

/* line 18, ../scss/global.scss */
.btnTrans {
  background-color: transparent;
  border: 1px solid #efefef;
  text-transform: uppercase;
}
/* line 22, ../scss/global.scss */
.btnTrans:hover {
  background-color: #13487C;
}

/* line 27, ../scss/global.scss */
.navigation {
  background-color: #04121E;
}
/* line 29, ../scss/global.scss */
.navigation .top-bar {
  background-color: transparent;
}

/* line 36, ../scss/global.scss */
.navigation .top-bar a {
  color: #fefefe;
}

/* line 42, ../scss/global.scss */
.questions {
  background-color: #13487C;
  color: #ddd;
}
/* line 43, ../scss/global.scss */
.questions h1 {
  color: #ddd;
}

/* line 50, ../scss/global.scss */
section[role="footer"] {
  background-color: #04121E;
}
