/* line 1, ../scss/home.scss */
.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* line 25, ../scss/home.scss */
.top-section {
  background: url("../images/toronto-night.jpg") repeat scroll 0 0/cover #111;
  display: block;
  height: 100%;
  position: relative;
  padding-top: 2rem;
}
/* line 32, ../scss/home.scss */
.top-section .top-buttons {
  margin-top: 8rem;
}
/* line 36, ../scss/home.scss */
.top-section .tagline {
  margin-top: 2rem;
}
/* line 38, ../scss/home.scss */
.top-section .tagline span {
  font-family: "Lato";
  color: #fefefe;
  font-size: 6rem;
}
/* line 45, ../scss/home.scss */
.top-section .abc {
  bottom: 10px;
  position: absolute;
  max-width: 100%;
  width: 100%;
}
/* line 50, ../scss/home.scss */
.top-section .abc .scroll-button {
  font-size: 1.9rem;
  border: 1px solid #fefefe;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: block;
  color: #fefefe;
  line-height: 60px;
  vertical-align: middle;
  text-align: center;
  font-family: "Lato";
}

/* line 68, ../scss/home.scss */
.forms label {
  border: none;
  padding: 0.47rem 0.2rem;
  color: #777;
}
/* line 73, ../scss/home.scss */
.forms label span.cross {
  background-color: #ff6e51;
  border-radius: 50%;
  color: #fff;
  display: none;
  font-size: 0.6rem;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: 7px;
  text-align: center;
  top: 40px;
  vertical-align: middle;
  width: 20px;
}
/* line 92, ../scss/home.scss */
.forms div.error span.cross {
  display: block;
}
/* line 98, ../scss/home.scss */
.forms input {
  border: none;
  border-bottom: 1px solid #aaa;
}
/* line 103, ../scss/home.scss */
.forms #province {
  color: #999;
  background-color: #eee;
}
